# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Tests
coverage

# Documentation
README.md

# Docker
Dockerfile
.dockerignore